In [22]:
# %pip install python-dateutil
# %pip install faker

In [38]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd
import random 

from faker.providers.date_time import Provider as DateTimeProvider
from faker.providers import date_time
from faker import Faker


fake = Faker()
datetime_provider = date_time.Provider(fake)

fecha_minima = datetime.strptime('2006-11-15', '%Y-%m-%d')
fecha_maxima = datetime.strptime('2024-04-01', '%Y-%m-%d')


amount_predefined = [903.59, 1355.38, 3162.55, 4517.93]
amount_free = [90.36, 451.79, 1807.17, 6325.10, 8132.27, 9035.86]
amount_choices = amount_predefined + amount_free

data2 = []
partner_donation_dates = {}  # Diccionario para realizar seguimiento de las fechas de donaciÃ³n de las empresas asociadas

for _ in range(1000):
    name = fake.name()
    try:
        first_name, last_name = name.split()
    except ValueError:
        first_name = name
        last_name = ""
    email = f"{first_name.lower()}.{last_name.lower()}@gmail.com"
    date = fake.date_between_dates(date_start=fecha_minima, date_end=fecha_maxima)
    is_partner = fake.random_element([0, 1])
    donation_frecuency = fake.random_element([0, 1])

    if is_partner == 1:
        suscription_status = 1
        company = fake.random_element(['Pepsi', 'Amazon', 'Jonhsons', 'Nasscom', 'Vodafone', 'Baxter', 'The Oberoi', 'CBN', 'Hyatt', 'Westin', 'YCI', 'CaSa', 'Cromax', 'Nike', 'Cosco', 'Indigo'])
        role_company = fake.random_element(['CEO',' CTO', 'Employee'])
        donation_date = 'None'
        donation_type = fake.random_element([1, 2, 3, 4])
        if donation_type == 1:
            amount = fake.random_int(min=200, max=2000)
            method_pay = fake.random_element([1,2,3])
        else:
            amount = 0
            if company == 'Amazon':
                donation_type = 2
        
    else:
        suscription_status = 1 if donation_frecuency == 1 else 0
        company = 'None'
        role_company = 'None'
        donation_type = 1
        amount = fake.random_element(amount_choices)        
        method_pay = fake.random_element([1,2,3]) # Tarjeta , Paypal , Googlepay
        donation_date = fake.date_between_dates(date_start=fecha_minima, date_end=fecha_maxima)
    
    data2.append([name, email, date, is_partner, company, role_company, donation_frecuency, suscription_status, donation_type, amount, method_pay, donation_date])


df2 = pd.DataFrame(data2, columns=['name', 'email', 'date', 'is_partner',  'company', 'role_company',  'donation_frecuency', 'suscription_status', 'donation_type', 'amount', 'method_pay','donation_date'])
df2

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.10,1,2009-08-13
1,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,None
2,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,None,None,0,0,1,1355.38,3,2022-05-01
3,James Payne,james.payne@gmail.com,2013-03-06,0,None,None,0,0,1,8132.27,3,2014-10-18
4,Michael Esparza,michael.esparza@gmail.com,2012-08-13,0,None,None,1,1,1,3162.55,2,2017-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Sharon Frank,sharon.frank@gmail.com,2010-02-11,1,Vodafone,CEO,0,1,4,0.00,1,None
996,Rebecca Snyder,rebecca.snyder@gmail.com,2009-11-07,1,CBN,CTO,0,1,1,1376.00,1,None
997,Brett Munoz,brett.munoz@gmail.com,2016-06-29,1,Westin,Employee,0,1,4,0.00,1,None
998,Carly Chen,carly.chen@gmail.com,2017-06-13,1,Pepsi,CEO,0,1,3,0.00,1,None
999,Victoria Ellis,victoria.ellis@gmail.com,2013-01-30,1,Indigo,CTO,0,1,1,1340.00,2,None

In [ ]:
df2.shape

In [24]:
filtered_df = df2[(df2['is_partner'] == 0) & (df2['donation_frecuency'] == 1)]

# Luego, creamos una lista para almacenar los registros duplicados con modificaciones
duplicated_records = []

# Iteramos sobre los registros seleccionados y creamos duplicados con modificaciones
for _, row in filtered_df.iterrows():
    # Generamos un valor aleatorio para la cantidad de duplicados
    num_duplicates = random.randint(2, 24)
    
    # Obtenemos la fecha de suscripciÃ³n
    subscription_date = row['date']
    
    # Iteramos para cada duplicado
    for i in range(num_duplicates):
        # Copiamos la fila actual
        duplicated_row = row.copy()
        
        # AÃ±adimos i meses a la fecha de suscripciÃ³n
        new_donation_date = subscription_date + relativedelta(months=i)
        
        # Asignamos la nueva fecha de donaciÃ³n a la fila duplicada
        duplicated_row['donation_date'] = new_donation_date
        
        # AÃ±adimos la fila duplicada a la lista de registros duplicados
        duplicated_records.append(duplicated_row)
        
duplicated_df = pd.DataFrame(duplicated_records)

# Concatenamos el DataFrame duplicado con el DataFrame original
result_df = pd.concat([df2, duplicated_df], ignore_index=True)
result_df.head()

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,Victor Garner,victor.garner@gmail.com,2020-03-06,0,None,None,1,1,1,903.59,2,2012-07-30
1,Robert Jones,robert.jones@gmail.com,2007-03-10,0,None,None,0,0,1,4517.93,3,2023-04-17
2,Paula Swanson,paula.swanson@gmail.com,2023-07-17,0,None,None,1,1,1,6325.10,1,2009-03-22
3,Robert Baldwin,robert.baldwin@gmail.com,2010-08-06,0,None,None,0,0,1,90.36,1,2008-02-17
4,Catherine Harris,catherine.harris@gmail.com,2022-11-11,1,Hyatt,CEO,1,1,3,0.00,1,None

In [ ]:
result_df.shape

In [25]:
df2[(df2['is_partner'] == 0) & (df2['donation_frecuency'] == 1)]

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,Victor Garner,victor.garner@gmail.com,2020-03-06,0,None,None,1,1,1,903.59,2,2012-07-30
2,Paula Swanson,paula.swanson@gmail.com,2023-07-17,0,None,None,1,1,1,6325.10,1,2009-03-22
7,Jose Jackson,jose.jackson@gmail.com,2023-03-25,0,None,None,1,1,1,3162.55,2,2010-02-23
13,Francisco Stevens,francisco.stevens@gmail.com,2009-04-05,0,None,None,1,1,1,1355.38,2,2015-02-15
15,Michelle Mitchell,michelle.mitchell@gmail.com,2018-08-16,0,None,None,1,1,1,4517.93,2,2020-10-26
...,...,...,...,...,...,...,...,...,...,...,...,...
987,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2011-01-03
988,Peggy Clark,peggy.clark@gmail.com,2007-08-19,0,None,None,1,1,1,451.79,1,2014-10-18
989,Peggy Ellis,peggy.ellis@gmail.com,2021-04-26,0,None,None,1,1,1,8132.27,3,2008-04-12
994,Sandra Whitney,sandra.whitney@gmail.com,2019-05-09,0,None,None,1,1,1,1355.38,3,2011-12-17
999,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2022-12-08

In [26]:
merged_df = pd.merge(result_df, filtered_df, how='left', indicator=True)

# Filtrar las filas que estÃ¡n solo en result_df (es decir, no estÃ¡n en filtered_df)
result_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns='_merge')

# Mostrar las primeras filas del DataFrame resultante
result_df.head()

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
1,Robert Jones,robert.jones@gmail.com,2007-03-10,0,None,None,0,0,1,4517.93,3,2023-04-17
3,Robert Baldwin,robert.baldwin@gmail.com,2010-08-06,0,None,None,0,0,1,90.36,1,2008-02-17
4,Catherine Harris,catherine.harris@gmail.com,2022-11-11,1,Hyatt,CEO,1,1,3,0.00,1,None
5,Angela Watkins,angela.watkins@gmail.com,2012-02-04,1,Hyatt,CTO,1,1,3,0.00,1,None
6,Louis Mcgee,louis.mcgee@gmail.com,2020-05-13,0,None,None,0,0,1,9035.86,3,2016-12-02

In [28]:
result_df[result_df.name == 'Jason Wilson']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
3984,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-06-03
3985,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-07-03
3986,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-08-03
3987,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-09-03
3988,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-10-03
3989,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-11-03
3990,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2012-12-03
3991,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-01-03
3992,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-02-03
3993,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-03-03
3994,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-04-03
3995,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-05-03
3996,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-06-03
3997,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-07-03
3998,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-08-03
3999,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-09-03
4000,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-10-03
4001,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-11-03
4002,Jason Wilson,jason.wilson@gmail.com,2012-06-03,0,None,None,1,1,1,451.79,2,2013-12-03

In [29]:
result_df.shape

(3811, 12)

In [30]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Lisa Valdez DVM,lisa valdez dvm.@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,4,0.0,2,None
59,Andrew Finley,andrew.finley@gmail.com,2022-07-22,1,Pepsi,Employee,1,1,4,0.0,1,None
93,Jennifer Perkins,jennifer.perkins@gmail.com,2013-02-24,1,Pepsi,Employee,0,1,3,0.0,1,None
106,Stephen Harrison,stephen.harrison@gmail.com,2012-07-20,1,Pepsi,CEO,1,1,3,0.0,1,None
129,Luis Williams,luis.williams@gmail.com,2019-08-21,1,Pepsi,Employee,0,1,3,0.0,2,None
145,Michael Stokes,michael.stokes@gmail.com,2014-10-29,1,Pepsi,CEO,1,1,2,0.0,3,None
268,Heather Wright,heather.wright@gmail.com,2010-01-30,1,Pepsi,Employee,1,1,3,0.0,3,None
281,Natalie Watson,natalie.watson@gmail.com,2010-10-12,1,Pepsi,Employee,1,1,3,0.0,3,None
283,Michael Landry,michael.landry@gmail.com,2013-02-19,1,Pepsi,CEO,0,1,2,0.0,3,None
293,Kevin Buckley,kevin.buckley@gmail.com,2020-04-12,1,Pepsi,CEO,0,1,3,0.0,2,None
315,Richard Butler,richard.butler@gmail.com,2022-01-22,1,Pepsi,CEO,0,1,3,0.0,2,None
316,Megan Lopez,megan.lopez@gmail.com,2014-09-21,1,Pepsi,Employee,0,1,3,0.0,2,None
325,Rebecca Ford,rebecca.ford@gmail.com,2015-04-09,1,Pepsi,CTO,1,1,2,0.0,2,None
369,Michelle Myers,michelle.myers@gmail.com,2018-10-23,1,Pepsi,Employee,0,1,3,0.0,2,None
377,Susan Mcdonald,susan.mcdonald@gmail.com,2008-03-23,1,Pepsi,CTO,0,1,2,0.0,1,None
434,Marcia Ballard,marcia.ballard@gmail.com,2009-10-11,1,Pepsi,Employee,1,1,4,0.0,3,None
461,Sarah Spencer,sarah.spencer@gmail.com,2022-02-20,1,Pepsi,Employee,1,1,4,0.0,3,None
505,Dylan Alvarado,dylan.alvarado@gmail.com,2014-12-24,1,Pepsi,CEO,0,1,4,0.0,2,None
613,Michael Russell,michael.russell@gmail.com,2009-08-28,1,Pepsi,CEO,1,1,4,0.0,2,None
614,Dr. Carly Shepherd,dr. carly shepherd.@gmail.com,2018-10-01,1,Pepsi,CEO,1,1,3,0.0,2,None
626,Kelly Austin,kelly.austin@gmail.com,2009-04-30,1,Pepsi,Employee,0,1,4,0.0,1,None
649,Eric Rodriguez,eric.rodriguez@gmail.com,2012-03-30,1,Pepsi,CEO,1,1,4,0.0,2,None
686,Richard Fitzgerald,richard.fitzgerald@gmail.com,2018-06-16,1,Pepsi,CTO,1,1,4,0.0,3,None
687,Andrea Andrews,andrea.andrews@gmail.com,2015-01-02,1,Pepsi,CTO,1,1,4,0.0,3,None
760,Tony Vasquez,tony.vasquez@gmail.com,2015-06-17,1,Pepsi,CEO,0,1,1,519.0,3,None
851,Dennis Tran,dennis.tran@gmail.com,2007-05-03,1,Pepsi,Employee,0,1,4,0.0,1,None
896,Chloe Waller,chloe.waller@gmail.com,2018-04-12,1,Pepsi,Employee,0,1,1,1250.0,2,None
937,Raven Stephens,raven.stephens@gmail.com,2017-04-04,1,Pepsi,CTO,0,1,2,0.0,1,None
949,Brittany Mccoy,brittany.mccoy@gmail.com,2012-12-04,1,Pepsi,Employee,0,1,1,800.0,1,None

In [31]:
# Filtrar solo las filas donde is_partner es igual a 1
partner_df = result_df[result_df['is_partner'] == 1]

# Obtener una lista de empresas Ãºnicas
unique_companies = partner_df['company'].unique()

# Iterar sobre las empresas Ãºnicas
for company in unique_companies:
    # Obtener la primera fecha de donaciÃ³n para esta empresa
    first_donation_date = partner_df.loc[partner_df['company'] == company, 'date'].iloc[0]
    
    # Actualizar la columna de fecha de donaciÃ³n para todas las filas de esta empresa
    result_df.loc[(result_df['is_partner'] == 1) & (result_df['company'] == company), 'date'] = first_donation_date

# Ahora result_df tiene la fecha de donaciÃ³n de la primera fila de cada empresa para todas las filas de esa empresa

In [32]:
result_df.shape

(3811, 12)

In [33]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Lisa Valdez DVM,lisa valdez dvm.@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,4,0.0,2,None
59,Andrew Finley,andrew.finley@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,1,None
93,Jennifer Perkins,jennifer.perkins@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,1,None
106,Stephen Harrison,stephen.harrison@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,3,0.0,1,None
129,Luis Williams,luis.williams@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,None
145,Michael Stokes,michael.stokes@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,2,0.0,3,None
268,Heather Wright,heather.wright@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,3,0.0,3,None
281,Natalie Watson,natalie.watson@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,3,0.0,3,None
283,Michael Landry,michael.landry@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,2,0.0,3,None
293,Kevin Buckley,kevin.buckley@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,3,0.0,2,None
315,Richard Butler,richard.butler@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,3,0.0,2,None
316,Megan Lopez,megan.lopez@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,None
325,Rebecca Ford,rebecca.ford@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,2,0.0,2,None
369,Michelle Myers,michelle.myers@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,None
377,Susan Mcdonald,susan.mcdonald@gmail.com,2006-12-16,1,Pepsi,CTO,0,1,2,0.0,1,None
434,Marcia Ballard,marcia.ballard@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,3,None
461,Sarah Spencer,sarah.spencer@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,3,None
505,Dylan Alvarado,dylan.alvarado@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,4,0.0,2,None
613,Michael Russell,michael.russell@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,4,0.0,2,None
614,Dr. Carly Shepherd,dr. carly shepherd.@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,3,0.0,2,None
626,Kelly Austin,kelly.austin@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,4,0.0,1,None
649,Eric Rodriguez,eric.rodriguez@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,4,0.0,2,None
686,Richard Fitzgerald,richard.fitzgerald@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,4,0.0,3,None
687,Andrea Andrews,andrea.andrews@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,4,0.0,3,None
760,Tony Vasquez,tony.vasquez@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,1,519.0,3,None
851,Dennis Tran,dennis.tran@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,4,0.0,1,None
896,Chloe Waller,chloe.waller@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,1,1250.0,2,None
937,Raven Stephens,raven.stephens@gmail.com,2006-12-16,1,Pepsi,CTO,0,1,2,0.0,1,None
949,Brittany Mccoy,brittany.mccoy@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,1,800.0,1,None

In [34]:
for index, row in result_df[(result_df['is_partner'] == 1) & (result_df['donation_date'] == 'None' )].iterrows():
    suscription_date = row['date']

    # Generar una fecha pasada aleatoria entre suscription_date y 1 dÃ­a antes de la fecha actual
    random_donation_date = datetime_provider.past_date(start_date=suscription_date)
    
    # Asignar la fecha de donaciÃ³n generada a la columna 'donation_date' en la fila actual
    result_df.at[index, 'donation_date'] = random_donation_date

In [35]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Lisa Valdez DVM,lisa valdez dvm.@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,4,0.0,2,2022-06-09
59,Andrew Finley,andrew.finley@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,1,2020-07-03
93,Jennifer Perkins,jennifer.perkins@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,1,2023-06-03
106,Stephen Harrison,stephen.harrison@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,3,0.0,1,2009-05-11
129,Luis Williams,luis.williams@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,2007-12-19
145,Michael Stokes,michael.stokes@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,2,0.0,3,2021-02-28
268,Heather Wright,heather.wright@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,3,0.0,3,2023-12-12
281,Natalie Watson,natalie.watson@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,3,0.0,3,2009-01-29
283,Michael Landry,michael.landry@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,2,0.0,3,2020-02-05
293,Kevin Buckley,kevin.buckley@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,3,0.0,2,2021-05-05
315,Richard Butler,richard.butler@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,3,0.0,2,2014-08-14
316,Megan Lopez,megan.lopez@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,2009-01-06
325,Rebecca Ford,rebecca.ford@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,2,0.0,2,2019-02-24
369,Michelle Myers,michelle.myers@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,3,0.0,2,2021-08-20
377,Susan Mcdonald,susan.mcdonald@gmail.com,2006-12-16,1,Pepsi,CTO,0,1,2,0.0,1,2009-10-06
434,Marcia Ballard,marcia.ballard@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,3,2007-05-11
461,Sarah Spencer,sarah.spencer@gmail.com,2006-12-16,1,Pepsi,Employee,1,1,4,0.0,3,2022-03-02
505,Dylan Alvarado,dylan.alvarado@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,4,0.0,2,2018-06-14
613,Michael Russell,michael.russell@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,4,0.0,2,2017-06-16
614,Dr. Carly Shepherd,dr. carly shepherd.@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,3,0.0,2,2016-02-11
626,Kelly Austin,kelly.austin@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,4,0.0,1,2014-07-03
649,Eric Rodriguez,eric.rodriguez@gmail.com,2006-12-16,1,Pepsi,CEO,1,1,4,0.0,2,2017-01-23
686,Richard Fitzgerald,richard.fitzgerald@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,4,0.0,3,2018-04-01
687,Andrea Andrews,andrea.andrews@gmail.com,2006-12-16,1,Pepsi,CTO,1,1,4,0.0,3,2016-09-16
760,Tony Vasquez,tony.vasquez@gmail.com,2006-12-16,1,Pepsi,CEO,0,1,1,519.0,3,2016-03-20
851,Dennis Tran,dennis.tran@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,4,0.0,1,2015-01-02
896,Chloe Waller,chloe.waller@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,1,1250.0,2,2014-02-11
937,Raven Stephens,raven.stephens@gmail.com,2006-12-16,1,Pepsi,CTO,0,1,2,0.0,1,2023-01-14
949,Brittany Mccoy,brittany.mccoy@gmail.com,2006-12-16,1,Pepsi,Employee,0,1,1,800.0,1,2012-12-08

In [36]:
result_df.shape

(3811, 12)

In [37]:
result_df

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
1,Robert Jones,robert.jones@gmail.com,2007-03-10,0,None,None,0,0,1,4517.93,3,2023-04-17
3,Robert Baldwin,robert.baldwin@gmail.com,2010-08-06,0,None,None,0,0,1,90.36,1,2008-02-17
4,Catherine Harris,catherine.harris@gmail.com,2022-11-11,1,Hyatt,CEO,1,1,3,0.00,1,2023-06-04
5,Angela Watkins,angela.watkins@gmail.com,2022-11-11,1,Hyatt,CTO,1,1,3,0.00,1,2024-02-07
6,Louis Mcgee,louis.mcgee@gmail.com,2020-05-13,0,None,None,0,0,1,9035.86,3,2016-12-02
...,...,...,...,...,...,...,...,...,...,...,...,...
4042,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2020-10-08
4043,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2020-11-08
4044,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2020-12-08
4045,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2021-01-08
4046,Donald Flowers,donald.flowers@gmail.com,2019-08-08,0,None,None,1,1,1,903.59,3,2021-02-08

In [12]:
result_df.to_csv('datos_donantes.csv', index=False)